body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #393939;
}

#texto {
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #e6e6e6;
  margin-bottom: 50px;
}

.titulo {
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #e6e6e6;
  margin-bottom: 50px;
}

.descricao {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #e6e6e6;
  margin-top: -40px;
}

.center {
  width: 300px;
  margin-top: 50px;
}

.center2 {
  width: 500px;
  margin-top: 50px;
  color: #b2b2b2;
}

p {
  font-size: 20px;
  color: #e6e6e6;
}

#carteira {
  margin-bottom: 20px;
}

#saldo {
  font-weight: bold;
}

#resultado {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

input[type='range'] {
  width: 100%;
}

button {
  font-size: 18px;
  padding: 5px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 10px;
}

button.compra {
  background-color: #e6a400;
  color: #370000;
}

button.venda {
  background-color: #1ba45d;
  color: white;
}

button:hover {
  transform: scale(1.1);
}

.checkbox-label {
  display: block;
  margin-bottom: 10px;
}

.checkbox-label input[type='checkbox'] {
  margin-right: 5px;
}

/* Posicionamento do simulador de operações e local de cálculo de probabilidade */
#simulador-operacoes {
  margin-top: 50px;
}

#local-calculo-probabilidade {
  margin-top: 50px;
}
